<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car.manufacturer.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @car.car_group.name %>
</p>

<%= link_to 'Back', admin_cars_path %>