<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<header>
  <h1>Admin Panel</h1>

  <% if user_signed_in? %>
    <p>
      Welcome <strong><%= current_user.display_name %></strong> |
      <%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>
    </p>
  <% end %>
</header>